<h3> Equipment and Components </h3>

<ul><% @equipment_index.each do |equipment| %>
    <h4> <%= equipment.name %> </h4>
    <%= link_to "See Report", equipment_path(equipment) %>
    <br>
    <%= link_to "See Components", equipment_components_path(equipment) %>
<% end %>